blib/
.build/
_build/
cover_db/
inc/
Build
Build.bat
.last_cover_stats
Makefile
Makefile.old
MANIFEST.bak
META.yml
MYMETA.yml
MYMETA.json
nytprof.out
pm_to_blib
Thumbs.db
*.log
/t/input_files/*.*
/t/input_files/ingest/
/t/input_files/pdf/
/t/input_files/reference_new/
/t/input_files/archive/
/t/input_files/reference/
/t/input_files/thumbnail/
t/input_files/TIFF_to_J2K/

